*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: blue;
    background-color: rgb(16, 196, 16);
    margin-bottom: 50px;
}

.articles{
    width: auto;
    margin: 0 5%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    margin-bottom: 10px;
}

article{
    border: solid 2px darkgreen;
    padding: 2%;
    margin-bottom: 10px;
}

h2{
    text-decoration: underline;
    color: darkgreen;
    margin-bottom: 20px;
}

.content{
    height: 300px;
    overflow: auto;
    text-align: justify;
    margin-bottom: 10px;
}

.created{
    height: 50px;
    margin-bottom: 20px;
    text-align: right;
}

.pagination{
    text-align: center;
}