{% extends "default.twig" %}


{% block title %}Mon Super MEGA blog{% endblock %}



{% block content %}
<section class="row">
    {% for post in postsById %}
    {{ include('card.twig') }}
    {% endfor %}

</section>
{{ paginate | raw }}
{% endblock %}